//====================================================================================================
.header__container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	height: 80px;
	.header__logo {
		display: block;
		width: 62px;
		height: 62px;
		z-index: 10;

		img {
			width: 100%;
		}
	}
	.header__menu {
		margin-left: auto;
		.menu__icon {
			display: none;
		}
		.menu__body {
			.menu__list {
				display: flex;
			}
			.menu__list>li {
				margin-right: 80px;
			}
			.menu__link {
				color: #3730A3;
				font-weight: 500;
				font-size: 18px;
				line-height: 158%;
				transition: all 0.3s ease;

				&:hover {
					text-decoration: underline;
					color: gray
				}
			}
		}	
	}
	.header__btn {
		z-index: 10;
		input {
			padding: 12px 32px;
			color: #3730A3;
			border: 1px solid #3730A3;
			background-color: #fff;
			border-radius: 6px;
			transition: all 0.3s ease;
			cursor: pointer;
			font-size: 18px;
			font-weight: 400;
			line-height: 156%;

			&:hover {
				color: #fff;
				background-color: #3730A3;
			}
		}

	}
}
//====================================================================================================
@media (max-width: 767px) {
header {
	position: fixed;
	width: 100%;
	z-index: 4;
}
.header__container {
	.header__logo{
		order: 1;
		
	}
	.header__menu {
		margin-left: 0;
		order: 3;
		.menu__icon {
			z-index: 10;
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;
		}
		.menu__icon span,
		.menu__icon::before,
		.menu__icon::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #000;
		}
		.menu__icon::before,
		.menu__icon::after {
			content: "";
		}
		.menu__icon::before {
				top: 0;
		}
		.menu__icon::after {
			bottom: 0;
		}
		.menu__icon span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}

		.menu__icon._active span {
			transform: scale(0) translate(0px, -50%);
		}
		.menu__icon._active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		.menu__icon._active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
		}
		.menu__body {
			position: fixed;
			top: 0;
			left: +120%;
			width: 100%;
			height: 100%;
			background-color: #fff;
			padding: 150px 30px 30px 30px;
			transition: left 0.3s ease 0s;
			overflow: auto;
		}
		.menu__body._active {
			left: 0;

			.menu__list {
				flex-direction: column;
				align-items: center;
			}
			.menu__list > li {
				flex-wrap: wrap;
				margin: 0px 0px 30px 0px;
			}
			.menu__list > li:last-child {
				margin-bottom: 0;
			}
			.menu__list > li._active .menu__sub-list {
				display: block;
			}
			.menu__link {
				font-size: 24px;
				text-transform: uppercase;
				color: #3730A3;
	
				// &:hover {
				// 	color: #fff;
				// }
			}
		}
	
		.menu__body::before {
			content: "";
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 80px;
			background-color:#FFF;
			z-index: 5;
		}	
	}
	.header__btn {
		order: 2;
		margin-left: auto;
		margin-right: 35px;
	}	
}
}
	