@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap&subset=cyrillic-ext');
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Inter', sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1250;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #1F2937;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}


.hero__container {
	display: flex;
	padding: 100px 0;


	.hero__text {
		flex-basis: 55%;
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		
		.hero__name {
			font-size: 20px;
			font-weight: 500;
			line-height: 140%;
			color: #4338CA;
			padding-left: 100px;
			position: relative;
			margin-bottom: 40px;
		}
		.hero__name::before {
			content: ' ';
			display: block;
			width: 90px;
			border-top: 1px solid #4338CA;
			position: absolute;
			left: - 10px;
			top: 50%
		}
		.hero__title {
			font-weight: 700;
			font-size: 73px;
			line-height: 100%;
			color: #000;
			margin-bottom: 40px;
		}
		.hero__description {
			font-weight: 400;
			font-size: 18px;
			line-height: 156%;
			color: #6B7280;
		}
		.hero__btn_group {
			display: flex;
			padding: 40px 0;

			input {
				padding: 12px 32px;
				border: 1px solid #3730A3;
				border-radius: 6px;
				margin-right: 20px;
				font-weight: 500;
				font-size: 18px;
				line-height: 156%;
				cursor: pointer;
				transition: all 0.3s ease;
			}
			.hire_me__btn {
				background-color: #3730A3;
				color: #fff;

				&:hover {
					background-color: #fff;
					color: #3730A3;
				}
			}
			.read_more__btn {
				color: #3730A3;
				background-color: #fff;

				&:hover {
					background-color: #3730A3;
					color: #fff;
				}
			}

		}
		.hero__sub_description {
			font-weight: 400;
			font-size: 12px;
			line-height: 133%;
			color: #6B7280;
		}

	}

	.hero__img {
		flex-basis: 45%;
		padding: 0 35px;

		img {
			width: 100%;
		}
	}

}



.project__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px 150px;

	.project__title {
		display: block;
		font-size: 48px;
		font-weight: 600;
		padding: 100px 70px;
		text-align: center;
		line-height: 100%;

		.color_text {
			color: #3730A3;
		}
	}
	.project__example {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.example__list {
			display: flex;
			flex-wrap: wrap;
			padding: 50px 0 30px;

			.list__item {
				flex-basis: 50%;
				padding: 0 0 0 50px;
				display: flex;
				flex-direction: column;

				.list__title {
					font-weight: 600;
					font-size: 18px;
					line-height: 156%;
				}
				.list__description {
					margin: 20px 0;
					font-weight: 400;
					font-size: 12px;
					line-height: 133%;
					color: #6B7280;
				}
				.list_btn {
					font-weight: 500;
					font-size: 12px;
					line-height: 133%;
					color: #3730A3;
					margin-top: auto;
					margin-bottom: 50px;
				}
			}
		}
	}
}
.trusted__container {
	background-color: #FEF2F2;
	padding: 100px 30px;

	.trusted__content {
		display: flex;
		flex-direction: column;


		.trusted__title {
			font-size: 20px;
			font-weight: 400;
			line-height: 140%;
			color:  #9CA3AF;
			margin-bottom: 20px;
		}
		.content__list {
			display: flex;
			justify-content: space-between;
		}
	}
}

// =========== RESPONSIVE FONT-SIE =================================================================================
@media (max-width: 1262px) {
	.hero__container {
		.hero__text {
			.hero__title {
				font-size: calc(20px + (50 - 20)*((100vw - 320px)/(1250 - 320)));
			}
			.hero__description {
				font-size: calc(12px + (18 - 12)*((100vw - 320px)/(1250 - 320)));
			}
				
		}
	}

	.project__container {
		.project__title {
			font-size: calc(20px + (48 - 20)*((100vw - 320px)/(1250 - 320)));
		}
	}
	
}
// ========== DESCkTOP ============================================================================================
@media (max-width: $md1 + px){
	.hero__container {
		.hero__text {
			.hero__title {
				margin-bottom: 20px;
			}
			.hero__btn_group {
				padding: 20px 0;
			}
				
		}
	}

	.project__container {
		.project__title {
			padding: 0 0 50px 0;
			br {
				display: none;
			}
		}
		.project__example {
			.example_img {
				width: 50%;

				img{
					width: 100%;
				}
			}
			.example__list {
				width: 50%;
				padding: 0;

				.list__item {
					padding: 0 0 0 20px;

					.list__description{
						padding: 5px 0;
						margin: 0;
					}

					.list_btn {
						margin-bottom: 10px;
					}
				}
				
			}
		}
	}
	.trusted__container {
		.trusted__content {
			.content__list {
				.content__item {
					width: 18%;
				}
			}
		}
	}


}
//===================================================================================================================================

//========= MOBILE ====================================================================================================
@media (max-width: 767px) {
	.hero__container {
		flex-direction: column;
		padding: 130px 0 50px;

		.hero__text {
			padding-bottom: 20px;
			.hero__name {
				font-size: 25px;
				z-index: -1;
			}
			.hero__title {
				font-size: 35px;
			}

		}
		.hero__img {
			width: 60%;
			margin: 0 auto;
			
		}
	}
	.project__container {
			background-image: url("../img/icons/image\ 11.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		.project__title {
			padding-top: 20px;
		}
		.project__example {
			
			
			.example_img {
				display: none;
			}
			.example__list {
				padding: 30px 20px 30px 0;
				flex-basis: 100%;
				background-color: rgba($color: #fff, $alpha: 0.5);
			}
		}
	}
}

@media (max-width: 500px) {
	.project__container {
		padding-bottom: 70px;
		.project__example {
			.example__list {
				flex-direction: column;
				flex-wrap: nowrap;
				.list__item {
					flex-basis: 100%;
				}
			}
		}
	}
	.trusted__container {
		.trusted__content {
			.content__list {
				display: flex;
				flex-wrap: wrap;
				.content__item {
					width: 45%;
					margin-bottom: 10px;
				}
				.content__item:last-child {
					width: 100%;
				}
			}
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
