@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;

500;600;700&display=swap&subset=cyrillic-ext");
@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #1F2937;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1250px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  height: 80px;
}

.header__container .header__logo {
  display: block;
  width: 62px;
  height: 62px;
  z-index: 10;
}

.header__container .header__logo img {
  width: 100%;
}

.header__container .header__menu {
  margin-left: auto;
}

.header__container .header__menu .menu__icon {
  display: none;
}

.header__container .header__menu .menu__body .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container .header__menu .menu__body .menu__list > li {
  margin-right: 80px;
}

.header__container .header__menu .menu__body .menu__link {
  color: #3730A3;
  font-weight: 500;
  font-size: 18px;
  line-height: 158%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__container .header__menu .menu__body .menu__link:hover {
  text-decoration: underline;
  color: gray;
}

.header__container .header__btn {
  z-index: 10;
}

.header__container .header__btn input {
  padding: 12px 32px;
  color: #3730A3;
  border: 1px solid #3730A3;
  background-color: #fff;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
}

.header__container .header__btn input:hover {
  color: #fff;
  background-color: #3730A3;
}

footer {
  background-color: #FEF2F2;
}

footer .footer__container {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__container .footer__title {
  color: #374151;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
}

footer .footer__container .footer__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #9CA3AF;
}

footer .footer__container .footer__icon {
  margin-top: 100px;
}

footer .footer__container .footer__icon .icon__link {
  margin: 0 25px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.hero__container .hero__text {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__container .hero__text .hero__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: #4338CA;
  padding-left: 100px;
  position: relative;
  margin-bottom: 40px;
}

.hero__container .hero__text .hero__name::before {
  content: " ";
  display: block;
  width: 90px;
  border-top: 1px solid #4338CA;
  position: absolute;
  left: -10px;
  top: 50%;
}

.hero__container .hero__text .hero__title {
  font-weight: 700;
  font-size: 73px;
  line-height: 100%;
  color: #000;
  margin-bottom: 40px;
}

.hero__container .hero__text .hero__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #6B7280;
}

.hero__container .hero__text .hero__btn_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.hero__container .hero__text .hero__btn_group input {
  padding: 12px 32px;
  border: 1px solid #3730A3;
  border-radius: 6px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__container .hero__text .hero__btn_group .hire_me__btn {
  background-color: #3730A3;
  color: #fff;
}

.hero__container .hero__text .hero__btn_group .hire_me__btn:hover {
  background-color: #fff;
  color: #3730A3;
}

.hero__container .hero__text .hero__btn_group .read_more__btn {
  color: #3730A3;
  background-color: #fff;
}

.hero__container .hero__text .hero__btn_group .read_more__btn:hover {
  background-color: #3730A3;
  color: #fff;
}

.hero__container .hero__text .hero__sub_description {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #6B7280;
}

.hero__container .hero__img {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 0 35px;
}

.hero__container .hero__img img {
  width: 100%;
}

.project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 150px;
}

.project__container .project__title {
  display: block;
  font-size: 48px;
  font-weight: 600;
  padding: 100px 70px;
  text-align: center;
  line-height: 100%;
}

.project__container .project__title .color_text {
  color: #3730A3;
}

.project__container .project__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.project__container .project__example .example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 30px;
}

.project__container .project__example .example__list .list__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__container .project__example .example__list .list__item .list__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
}

.project__container .project__example .example__list .list__item .list__description {
  margin: 20px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #6B7280;
}

.project__container .project__example .example__list .list__item .list_btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #3730A3;
  margin-top: auto;
  margin-bottom: 50px;
}

.trusted__container {
  background-color: #FEF2F2;
  padding: 100px 30px;
}

.trusted__container .trusted__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trusted__container .trusted__content .trusted__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  color: #9CA3AF;
  margin-bottom: 20px;
}

.trusted__container .trusted__content .content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feed__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed__container .feed__title {
  margin: 150px 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
}

.feed__container .feed__projects {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
      grid-template-areas: "first second" "third second" "fours fours";
  z-index: 1;
}

.feed__container .feed__projects .project__item {
  width: 100%;
  height: auto;
  position: relative;
}

.feed__container .feed__projects .project__item:hover .bg {
  opacity: 1;
}

.feed__container .feed__projects .project__item:hover .project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed__container .feed__projects .project__item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 41, 55, 0.6);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.feed__container .feed__projects .project__item .project__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  display: none;
  padding: 15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

.feed__container .feed__projects .project__item .project__title .title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.feed__container .feed__projects .project__item .project__title .title__text .project__title_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
}

.feed__container .feed__projects .project__item .project__title .title__text .project__title_description {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #9CA3AF;
}

.feed__container .feed__projects .project__item .project__title .project__title_btn {
  color: #1F2937;
  font-size: 30px;
}

.feed__container .feed__projects .project__item img {
  width: 100%;
  height: 100%;
}

.feed__container .feed__projects .grid__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.feed__container .feed__projects .grid__left1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: third;
}

.feed__container .feed__projects .grid__side {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: second;
}

.feed__container .feed__projects .grid__footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fours;
  width: 100%;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}

.services__container .services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 10px;
}

.services__container .services__item:last-child {
  margin-right: 0;
}

.services__container .services__item .services__title {
  padding: 40px 0 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
}

.services__container .services__item .services__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #9CA3AF;
}

.careers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 150px 0;
}

.careers__container .careers__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 150px;
}

.careers__container .careers__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.careers__container .careers__table .table__headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.careers__container .careers__table .table__headers .headers__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #6B7280;
  text-transform: uppercase;
}

.careers__container .careers__table .table__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.careers__container .careers__table .table__list:last-child {
  margin: 40px 0 0 0;
}

.careers__container .careers__table .table__list .list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B7280;
}

.careers__container .careers__table .table__list .list__item span {
  color: #1F2937;
  font-weight: 600;
}

._touch .feed__container .feed__projects .project__item .project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1262px) {
  ._container {
    max-width: 970px;
  }

  footer .footer__container .footer__title {
    font-size: calc(20px + 28 * (100vw - 320px) / 930);
  }

  .hero__container .hero__text .hero__title {
    font-size: calc(20px + 30 * (100vw - 320px) / 930);
  }

  .hero__container .hero__text .hero__description {
    font-size: calc(12px + 6 * (100vw - 320px) / 930);
  }

  .project__container .project__title {
    font-size: calc(20px + 28 * (100vw - 320px) / 930);
  }

  .feed__container .feed__title {
    font-size: calc(20px + 28 * (100vw - 320px) / 930);
  }

  .careers__container .careers__title {
    font-size: calc(20px + 28 * (100vw - 320px) / 930);
  }

  .hero__container .hero__text .hero__title {
    margin-bottom: 20px;
  }

  .hero__container .hero__text .hero__btn_group {
    padding: 20px 0;
  }

  .project__container .project__title {
    padding: 0 0 50px 0;
  }

  .project__container .project__title br {
    display: none;
  }

  .project__container .project__example .example_img {
    width: 50%;
  }

  .project__container .project__example .example_img img {
    width: 100%;
  }

  .project__container .project__example .example__list {
    width: 50%;
    padding: 0;
  }

  .project__container .project__example .example__list .list__item {
    padding: 0 0 0 20px;
  }

  .project__container .project__example .example__list .list__item .list__description {
    padding: 5px 0;
    margin: 0;
  }

  .project__container .project__example .example__list .list__item .list_btn {
    margin-bottom: 10px;
  }

  .trusted__container .trusted__content .content__list .content__item {
    width: 18%;
  }

  .feed__container .feed__title {
    margin: 70px 20px;
  }

  .careers__container {
    padding: 30px 30px;
  }

  .careers__container .careers__title {
    margin-bottom: 50px;
  }

  .careers__container .careers__table .table__headers {
    padding-bottom: 30px;
  }

  .careers__container .careers__table .table__list {
    margin: 10px 0;
  }

  .careers__container .careers__table .table__list:last-child {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 4;
  }

  .header__container .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__container .header__menu {
    margin-left: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__container .header__menu .menu__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header__container .header__menu .menu__icon span,
  .header__container .header__menu .menu__icon::before,
  .header__container .header__menu .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .header__container .header__menu .menu__icon::before,
  .header__container .header__menu .menu__icon::after {
    content: "";
  }

  .header__container .header__menu .menu__icon::before {
    top: 0;
  }

  .header__container .header__menu .menu__icon::after {
    bottom: 0;
  }

  .header__container .header__menu .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .header__container .header__menu .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .header__container .header__menu .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .header__container .header__menu .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .header__container .header__menu .menu__body {
    position: fixed;
    top: 0;
    left: 120%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 150px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .header__container .header__menu .menu__body._active {
    left: 0;
  }

  .header__container .header__menu .menu__body._active .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__container .header__menu .menu__body._active .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .header__container .header__menu .menu__body._active .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .header__container .header__menu .menu__body._active .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .header__container .header__menu .menu__body._active .menu__link {
    font-size: 24px;
    text-transform: uppercase;
    color: #3730A3;
  }

  .header__container .header__menu .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #FFF;
    z-index: 5;
  }

  .header__container .header__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
    margin-right: 35px;
  }

  footer .footer__container {
    padding: 50px 30px;
  }

  footer .footer__container .footer__icon {
    margin-top: 50px;
  }

  footer .footer__container .footer__icon .icon__link {
    margin: 0 5px;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 130px 0 50px;
  }

  .hero__container .hero__text {
    padding-bottom: 20px;
  }

  .hero__container .hero__text .hero__name {
    font-size: 25px;
    z-index: -1;
  }

  .hero__container .hero__text .hero__title {
    font-size: 35px;
  }

  .hero__container .hero__img {
    width: 60%;
    margin: 0 auto;
  }

  ._no-webp .project__container{
    background-image: url("../img/icons/image 11.png"); }

  .project__container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project__container .project__title {
    padding-top: 20px;
  }

  .project__container .project__example .example_img {
    display: none;
  }

  .project__container .project__example .example__list {
    padding: 30px 20px 30px 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 0;
  }

  .services__container .services__item {
    margin: 5px 0 5px 0;
    padding: 0 30px;
  }

  .careers__container {
    padding: 30px 30px;
  }

  .careers__container .careers__title {
    margin-bottom: 50px;
  }

  .careers__container .careers__table .table__headers {
    padding-bottom: 30px;
  }

  .careers__container .careers__table .table__list {
    margin: 10px 0;
  }

  .careers__container .careers__table .table__list:last-child {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 500px) {
  .project__container {
    padding-bottom: 70px;
  }

  .project__container .project__example .example__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .project__container .project__example .example__list .list__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .trusted__container .trusted__content .content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .trusted__container .trusted__content .content__list .content__item {
    width: 45%;
    margin-bottom: 10px;
  }

  .trusted__container .trusted__content .content__list .content__item:last-child {
    width: 100%;
  }

  .feed__container .feed__projects {
        grid-template-areas: "first first" "third third" "fours fours";
    gap: 10px;
  }

  .feed__container .feed__projects .grid__side {
    display: none;
  }

  .feed__container .feed__projects .project__item {
    height: 250px;
  }

  .feed__container .feed__projects .project__item .project__title {
    padding: 10px;
  }

  .careers__container .careers__table .table__list .list__item {
    margin-right: 5px;
  }

  .careers__container .careers__table .table__list .list__item:last-child {
    margin-right: 0;
  }

  .feed__container .feed__projects .grid__left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .feed__container .feed__projects .grid__left1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .feed__container .feed__projects .grid__footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media (max-width: 767px){
  ._webp .project__container{ background-image: url("../img/icons/image 11.png"); }
}